body { background-color: #000000; color: #665f93;	}

a:link { color: #a096de;	text-decoration:none;	}
a:visited {	color: #a096de;	text-decoration:none;	}
a:hover {	color: #665f93;	text-decoration:none;	}	

h1.menu { font-family: sans-serif; font-size: 13px; font-weight: bold; }
h1.title { font-family: sans-serif; font-size: 12px; font-weight: bold; }

p.content { font-family: sans-serif; font-size: 12px; width: 415px; }
p.fortune { font-family: sans-serif; font-size: 12px; width: 415px; margin: 0cm 0cm 0cm 0cm; padding: 0cm 0cm; }

hr { font-family: sans-serif; width: 415px; border: none #665f93 solid thin; text-align: left; }
